{% extends 'basic.html' %}


{% block basic %}
{% load staticfiles %}
<!-- CSS CUSTOM -->
<link rel='stylesheet' href="{% static 'css/home.css' %}">

<div class="container-fluid home-bg py-5 home-height hmpg" >
    {% for product in products.all %}
    <div class="row my-5 mx-auto" >
        <div class="col-md-2 col-sm-3 d-flex align-items-center my-2 mx-2" onclick="window.location='{% url 'detail' product.id  %}';"
            style="cursor: pointer;">
            <img src="{{ product.icon.url }}" class="img-fluid rounded" alt="" id='imgg'>
        </div>
        <div class="col-md-6 col-sm-8 text-light my-2" style="cursor: pointer;
        background-color:rgba(0, 0, 0, 0.6);">
            <a href="{% url 'detail' product.id  %}">
                <h1 class="text-warning text-capitalize">{{ product.title }}</h1>
            </a>
            <p class="qcont">{{ product.summary }}</p>
        </div>
        <div class="col-md-3 col-sm-5 d-flex align-items-center my-2 ml-1">
            <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"><button
                    class="btn btn-warning btn-lg btn-block">Upvote <i class="far fa-thumbs-up"></i>
                    {{ product.votes_total }}</button></a>
        </div>
    </div>
    <form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
        {% csrf_token %}
        <input type="hidden">
    </form>

    {% endfor %}

</div>
{% endblock basic %}