
.home-bg{
    background:url('../bg/a.jpg')center/cover no-repeat fixed;
}
.detail-bg{
    background:url('../bg/a.jpg')center/cover no-repeat fixed;
}
.create-bg{
    background:url('../bg/a.jpg')center/cover no-repeat fixed;
}
.hmpg{
    background: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.7)s) !important;
}
#imgg{
    min-width: 200;
    min-height: 150;
    min-block-size: 150px;
    max-block-size: 150px
}
.orange{
        color: rgb(255, 143, 64) !important;
    }
.home-height{
	min-height: 50vh;
}
.detail-height{
	min-height: 50vh;
}
.create-height{
	min-height: 70vh;
}
.qcont:first-letter {
    text-transform: capitalize;
  }
